@import 'fonts.css';
* {
  box-sizing: border-box;
}
body {
  color: #333;
}
header {
  height: 72px;
  color: #fff;
  background: #ec008c;
}
h1 {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

/* Menu Styles */

.logo {
  display: inline-block;
  float: left;
  width: 60px;
  height: 72px;
  margin-right: 24px;
}
.logo img {
  width: 100%;
  margin-top: 24px;
  margin-left: 24px;
}
.menuwrap {
  display: inline-block;
  float: left;
  height: 72px;
}
.hugemenu {
  display: block;
  float: left;
  height: 72px;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.hugemenu li {
  float: left;
  height: 72px;
}
.hugemenu li a {
  font-family: 'HUGEAvantGardeBold';
  font-size: 1.313em;
  line-height: 72px;
  display: inline-block;
  height: 72px;
  padding-right: 24px;
  padding-left: 24px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}
.hugemenu li a:hover, .active {
  color: #ec008c !important;
  background-color: #fff;
}

/* sub menu */

.wrapsubmenu {
  position: absolute;
  z-index: 100;
}
.hugesubmenu {
  position: fixed;
  width: 230px;
  height: auto;
}
.hugesubmenu ul {
  padding-top: 12px;
  padding-left: 0;
  list-style-type: none;
  color: #333;
  background-color: #fff;
}
.hugesubmenu li {
  display: block;
  width: 100%;
  height: 48px;
}
.hugesubmenu li a {
  font-family: 'Galaxie';
  font-size: 1em;
  line-height: 48px;
  width: 100%;
  height: 48px;
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
}
.hugesubmenu li a:hover {
  background-color: #eee;
}
.menuon {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

/* Fold - Hero */

.hero {
  display: block;
  clear: both;
  width: 100%;
  height: 640px;
  margin: 0 auto;
  text-align: center;
  background-image: url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrapherotext {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.wrapherotext h1 {
  font-size: 7.500em;
  position: relative;
  top: 50%;
  display: inline-block;
  width: 70%;
  transform: translateY(-50%);
}

/* Content */

.content {
  position: relative;
  display: block;
  width: 968px;
  height: auto;
  margin: 60px auto;
}
.content p {
  font-family: 'Galaxie';
  font-size: 1.500em;
  margin-top: 0;
  text-align: justify;
}

/* Footer */

.hugefooter {
  font-family: 'Galaxie';
  font-size: 12px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #ec008c;
}
