@import 'fonts.css';
* {
  box-sizing: border-box;
}
body {
  color: #333;
}
header {
  height: 72px;
  color: #fff;
  background: #ec008c;
}
h1 {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

/* Menu Styles */

.logo {
  display: inline-block;
  float: left;
  width: 60px;
  height: 72px;
  margin-left: 24px;
  background-image: url('../images/Huge-white.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 24px;
}

.menuwrap {
  display: inline-block;
  float: left;
  height: 72px;
}
.menuwrap-footer {
  display:none;
}
.hugemenu {
  display: block;
  float: left;
  height: 72px;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.hugemenu li {
  float: left;
  height: 72px;
}
.hugemenu li a {
  font-family: 'HUGEAvantGardeBold';
  font-size: 1.313em;
  line-height: 72px;
  display: inline-block;
  height: 72px;
  padding-right: 24px;
  padding-left: 24px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}
.hugemenu li a:hover, .active {
  color: #ec008c !important;
  background-color: #fff;
}
.hugemenu-close {
  display: none;
}

/* sub menu */

.wrapsubmenu {
  position: absolute;
  z-index: 100;
}
.hugesubmenu {
  position: fixed;
  width: 230px;
  height: auto;
}
.hugesubmenu ul {
  padding-top: 12px;
  padding-left: 0;
  list-style-type: none;
  color: #333;
  background-color: #fff;
}
.hugesubmenu li {
  display: block;
  width: 100%;
  height: 48px;
}
.hugesubmenu li a {
  font-family: 'Galaxie';
  font-size: 1em;
  line-height: 48px;
  width: 230px;
  height: 48px;
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
}
.hugesubmenu li a:hover {
  background-color: #eee;
}
.menuon {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

/* Fold - Hero */

.hero {
  display: block;
  clear: both;
  width: 100%;
  height: 640px;
  margin: 0 auto;
  text-align: center;
  background-image: url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrapherotext {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.headline  {
  font-family: 'HUGEAvantGardeBold';
  font-size: 7.500em;
  font-size: 8vw;
  display: block;
  position: absolute;
  width: 70%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Content */

.content {
  position: relative;
  display: block;
  width: 968px;
  height: auto;
  margin: 60px auto;
}
.content p {
  font-family: 'Galaxie';
  font-size: 1.500em;
  margin-top: 0;
  text-align: justify;
}

/* Footer */

.hugefooter {
  font-family: 'Galaxie';
  font-size: 12px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #ec008c;
}

/* Media Queries */

@media only screen
  and (max-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1) {

    header {
      height: 60px;
      color: #fff;
      background: #ec008c;
    }

    /* Menu Styles */

    .logo {
      background-image: url('../images/toggle-open.svg');
      background-position: 24px 20px;
      background-size: 24px 20px;
      margin-left: 0;
      height: 60px;
      width: 72px;
    }
    .hugemenu-close {
      display: none;
      background-image: url('../images/HUGE-white.png');
      background-position: 24px 20px;
      background-size: 50px;
      background-repeat: no-repeat;
      margin-left: 0;
      height: 60px;
      width: 100%;
      position: absolute;
      background-color: #ec008c;
    }
    .menuclose {
      float: right;
    }
    .menuclose img {
      background-color: #ec008c;
      height: 60px;
    }

    .menuwrap {
      display: block;
      position: relative;
      top: 60px;
      left: -100%;
      width: 80%;
      float: left;
      z-index: 2000;
      transition: ease 600ms all;
     }

     .menuwrap-footer {
       display: block;
       width: 80%;
       height: 48px;
       background-color: #fff;
       position: fixed;
       bottom: 0;
       font-size: 0.750em;
       color: #000;
       text-align: center;
       line-height: 48px;
     }

    .hugemenu {
      display: block;
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100vh;
      list-style-type: none;
      padding-bottom: 24px;
      padding-left: 0;
    }



    .hugemenu li {
      float: none;
      height: 48px;
      left: 0;
      vertical-align: middle;
    }

    .hugemenu li a {
      background-color: #fff;
      font-family: 'HUGEAvantGardeBold';
      font-size: 1.313em;
      line-height: 48px;
      display: inline-block;
      height: 48px;
      width: 100%;
      padding-right: 0;
      padding-left: 24px;
      vertical-align: middle;
      text-decoration: none;
      color: #000;
    }

    .hugemenu li a:hover, .active {
      color: #ec008c !important;
      background-color: #eee;
    }

    /* sub menu */

    .wrapsubmenu {
      position: absolute;
      width:100%;
      z-index: 100;
    }
    .hugesubmenu {
      position: relative;
      width: 100%;
      height: auto;
    }
    #Aboutsubmenu {
      margin-bottom:0px;
      transition: ease 300ms all;
    }
    #Careerssubmenu {
      margin-bottom:0px;
      transition: ease 300ms all;
    }

    #Ideassubmenu {
      margin-bottom:0px;
      transition: ease 300ms all;
    }

    .hugesubmenu-openclose{
      display: inline-block;
      width: 42px;
      height: 42px;
      float: right;
      margin-right: 12px;
      background-image: url('../images/submenu-toggle-openclose.svg');
      background-repeat: no-repeat;
      transform: rotate(deg0);
      transition: ease 300ms all;
    }

    .hugesubmenu ul {
      padding-top: 12px;
      padding-left: 0;
      list-style-type: none;
      color: #333;
      background-color: #fff;
          width: 100%;
    }
    .hugesubmenu li {
      display: block;
      width: 100%;
      height: 48px;
      margin-bottom: auto;
    }
    .hugesubmenu li a {
      font-family: 'Galaxie';
      font-size: 1em;
      line-height: 48px;
      width: 100%;
      height: 48px;
      margin-top: 0;
      margin-bottom: 0;
      color: #333;
    }
    .hugesubmenu li a:hover {
      color: #ec008c !important;
      background-color: #eee !important;
    }

    /* Fold - Hero */
    .wrap {
      position: relative;
      top:0;
      left:0;
      transition: ease 600ms all;
    }
    .hero {
      display: block;
      clear: both;
      width: 100%;
      height: 240px;
      margin: 0 auto;
      text-align: center;
      background-image: url('../images/background-image.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .wrapherotext {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: 1;
    }
    .headline {
      display: block;
      position: inherit;
      width: 80%;
      top: 50px;
      left: 0;
      transform: translate(0,0);

      margin: 0 auto;

      font-size: 3.2em;
      color: #000;

    }

    /* Content */

    .content {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      margin: 60px auto;
    }
    .content p {
      display: block;
      position: inherit;
      top: 50px;
      margin: 0 auto;
      width: 80%;
      font-family: 'Galaxie';
      font-size: 1em;
      margin-top: 0;
      text-align: justify;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    /* footer */

    .hugefooter {
      display: none;
    }




}
